<head>
  <link rel="stylesheet" href="/css/style.css" />
</head>
     
<nav
  class="navbar navbar-expand-md navbar-light bg-white border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">

  <div class="filterx">
  <i class="fa-brands fa-solid fa-airbnb"></i>
  <p>airbnb</p>
</div>


    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <div>
          <div class="container-fluid">
            <form class="d-flex" role="search" action="/listings/search" method="get">
              <input
                class="form-control me-2 search-inp"
                type="search"
                name="q"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn search-btn ma" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>Search
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add Post</a>
        <% if(!CurrentUser) { %>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <%}%> <% if(CurrentUser) { %>
        <a class="nav-link" href="/logout"><strong>Logout</strong></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
