<% layout("/layout/boilerplate") -%>

<body>
  <h2>All Listings</h2>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let Listing of allListing) { %>

    <div class="card" style="width: 20rem">
      <img
        src="<%= Listing.image.url %>"
        class="card-img-top"
        alt="listing"
        style="height: 20rem"
      />
      <a href="/listings/<%= Listing._id %>" class="list-link">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <strong><%= Listing.title %></strong>
            <br />
            &#8377; <%= Listing.price.toLocaleString("en-IN") %> / Night
          </p>
        </div></a
      >
    </div>

    <% } %>
  </div>
</body>
